.footer {
    background-color: $darkGray;
    color: $white;
    padding: 2.5rem;
    text-align: center;

    .footer__container {
        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 3fr;
            grid-template-rows: 1fr auto;
            grid-template-areas:
                "logo links1 links2 cta"
                "social links1 links2 copyright";
            gap: 1rem;
            justify-items: start;
        }
    }

    a {
        color: $white;
    }

    &__logo {
        display: inline-block;

        @include breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large) {
            grid-area: logo;
        }

        img {
            width: 70%;
            height: 70%;
        }
    }

    &__social {
        @include breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large) {
            grid-area: social;
            align-self: end;
        }

        a {
            display: inline-block;
            font-size: 1.25rem;
            transition: 0.3s ease-in-out;
        }

        a:hover {
            color: $mainYellow;
        }

        a:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2.25;
        font-size: 0.9375rem;

        @include breakpoint-up(large) {
            align-items: start;
            justify-content: space-between;
        }

        &.col1 {
            @include breakpoint-up(large) {
                grid-area: links1;
            }
        }

        &.col2 {
            @include breakpoint-down(medium) {
                margin-bottom: 1.875rem;
            }

            @include breakpoint-up(large) {
                grid-area: links2;
            }
        }

        a {
            line-height: 2.25rem;
            transition: 0.3s ease-in-out;
        }

        a:hover {
            color: $mainYellow;
        }
    }

    &__cta {
        @include breakpoint-up(large) {
            grid-area: cta;
            text-align: right;
            justify-self: end;
        }

        a.button {
            @include breakpoint-down(medium) {
                margin-bottom: 1.875rem;
            }
        }
    }

    &__copyright {
        font-size: 0.8125rem;
        color: $lightGray;

        @include breakpoint-up(large) {
            grid-area: copyright;
            align-self: end;
            justify-self: end;
        }
    }
}
