.form {
    margin-top: 1rem;
    margin-bottom: 1rem;

    &__container {
        max-width: 80%;
        margin: 0 auto;
        background-color: $lightestYellow;
        border-radius: 1rem;
        padding: 30px;
        height: 450px;
        width: 100%;

        form {
            display: flex;
            flex-direction: column;
        }
    }

    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__text {
        flex: 1;
    }

    &__form {
        flex: 1;

        button {
            align-self: center;
        }
    }

    &__message {
        textarea {
            width: 70%;
            background: $lightestYellow2;
            height: 100px;
            border: none;
            border-radius: 0.8rem;
            padding: 20px;
            color: $darkGold;
            font-family: 'Montserrat', sans-serif;
            font-weight: $font-semibold;
        }
    }

    &__fields {
        input {
            margin: 10px 0;
            background: $lightestYellow2;
            border: none;
            border-radius: 2rem;
            padding: 10px;
            color: $darkGold;
            font-family: 'Montserrat', sans-serif;
            font-weight: $font-semibold;
        }
    }

    
    

    &__title {
        font-size: 1.8rem;
        line-height: 1.4;
        color: $darkBlue;
        font-weight: $font-bold;
    }

}
