.form {
    margin-top: 1rem;
    background-color: $lightYellow;

    &__container {
        max-width: 80%;
        margin: 0 auto;
        border-radius: 1rem;
        padding: 30px;
        height: 450px;
        width: 100%;
        height: 100%;

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            //background-color: $white;
            //padding: 3rem;
            border-radius: 10px;
            box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.01);

        }
    }

    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @include breakpoint-down(small) {
            flex-direction: column;
            margin-bottom: 1rem;
        }
    }

    &__text {
        flex: 1;
        align-items: right;
    }

    &__form {
        flex: 1;

        button {
            align-self: center;
            border: none;
            cursor: pointer;
        }
    }

    &__message {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 1rem;
        width: 100%;

        textarea {
            width: 100%;
            height: 100px;
            border: none;
            background: $lightGray;
            border-radius: 10px;
            padding: 20px;
            color: $darkBlue;
            font-family: "Montserrat", sans-serif;
            font-weight: $font-semibold;
            font-size: 16px;
            resize: none;
        }
    }

    &__fields {
        display: flex;
        //flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;
        width: 100%;

        @include breakpoint-down(small) {
            margin-top: -1.5rem;
        }

        input {
            margin-bottom: 0.5rem;
            width: 12rem;
            background: $lightGray;
            border: none;
            border-radius: 10px;
            padding: 18px;
            color: $darkBlue;
            font-family: "Montserrat", sans-serif;
            font-weight: $font-semibold;
            font-size: 16px;
            width: 100%;
        }
    }

    input:focus, textarea:focus {
        //border: solid 3px $darkGold;
        outline: none;
    }

    &__title {
        font-size: 40px;
        line-height: 1.2;
        color: $darkGray;
        font-weight: $font-bold;
        letter-spacing: -2px;
        text-align: right;

        @include breakpoint-down(small) {
            text-align: left;
            margin-top: 1.5rem;
        }
    }

    &__subtext {
        text-align: right;
        align-self: right;
        margin-top: 1rem;

        @include breakpoint-down(small) {
            text-align: left;
        }
    }

    &__button:focus {
        border: none;
        outline: none;
    }
}
