.form {
    margin-top: 1rem;
    background-color: $lightYellow;

    &__container {
        max-width: 70%;
        margin: 0 auto;
        border-radius: 1rem;
        padding: 30px;
        height: 450px;
        width: 100%;

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            background-color: $white;
            padding: 3rem;
            border-radius: 10px;
            box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.01);
        }
    }

    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__text {
        flex: 1;
    }

    &__form {
        flex: 1;

        button {
            align-self: center;
            border: none;
            cursor: pointer;
        }
    }

    &__message {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 1rem;

        textarea {
            width: 23rem;
            height: 100px;
            border: none;
            background: $lightGray;
            border-radius: 10px;
            padding: 20px;
            color: $darkBlue;
            font-family: "Montserrat", sans-serif;
            font-weight: $font-semibold;
            font-size: 16px;
        }
    }

    &__fields {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        input {
            margin-bottom: 1rem;
            width: 23rem;
            background: $lightGray;
            border: none;
            border-radius: 10px;
            padding: 18px;
            color: $darkBlue;
            font-family: "Montserrat", sans-serif;
            font-weight: $font-semibold;
            font-size: 16px;
        }
    }

    input:focus, textarea:focus {
        border: solid 3px $darkGold;
        outline: none;
    }

    &__title {
        font-size: 2rem;
        line-height: 1.4;
        color: $darkGray;
        font-weight: $font-bold;
    }

    &__button:focus {
        border: none;
        outline: none;
    }
}
