/* Header */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-tooltip;
    align-items: center;
    transition: 0.5s ease-in-out;
}

/* Nav */
.nav {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.2s ease-in-out;
    //margin: auto;

    &__menu {
        position: fixed;
        top: 0;
        left: auto;
        right: -200%;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        padding-top: 1.5rem;
        background-color: $darkGray;
        color: $white;
        transition: 0.2s ease-in-out;
        z-index: $z-fixed;
        box-shadow: -8px 0 20px 0 rgba(0, 0, 0, 0.2);

        @include breakpoint-up(large) {
            width: 40%;
        }
    }

    &__link {
        color: $white;
        font-weight: $font-medium;
    }

    &__item {
        margin-bottom: 1.5rem;
    }

    &__toggle {
        display: flex;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 101;
        color: $white;
        transition: 0.3s ease-in-out;

        i {
            transition: 0.3s ease-in-out;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        transition: 5s ease-in-out;

        svg {
            transition: fill 1s ease-in-out;
            

            .white {
                transition: 0.5s ease-in-out;
                fill: $white;
            }

            .text {
                transition: 0.5s ease-in-out;
            }

            path {
                transition: 1s ease-in-out;
            }
        }
    }

    &__list {
        margin-top: 5rem;

        @include breakpoint-up(large) {
            margin-left: 3rem;
            text-align: left;
        }
    }

    &__link {
        font-size: 1.6rem;
        font-weight: $font-bold;
        transition: 0.3s ease-in-out;
    }

    &__link:hover {
        color: $lightYellow;
    }

    &__item {
        margin-bottom: $mb-3;
    }

    &__title {
        font-size: $h2-font-size;
        font-weight: $font-bold;
        color: $white;
        margin-bottom: 0.2rem;

        @include breakpoint-up(large) {
            margin-left: 3rem;
            text-align: left;
        }
    }

    &__info {
        color: $lightYellow;
        font-weight: $font-bold;
        font-size: 1rem;
        margin-bottom: 0.1rem;
        display: block;
        transition: 0.3s ease-in-out;

        @include breakpoint-up(large) {
            margin-left: 3rem;
            text-align: left;
        }
    }

    &__info:hover {
        color: $lightBlue;
    }

    &__email,
    &__telefone {
        margin-bottom: $mb-2;
    }

    &__email {
        margin-top: 2rem;
    }

    &__socials {
        @include breakpoint-up(large) {
            margin-left: 3rem;
            text-align: left;
        }
    }

    &__social {
        color: $white;
        font-size: 1.6rem;
        transition: 0.3s ease-in-out;
    }

    &__social:hover {
        color: $lightYellow;
    }

    &__social:not(:last-child) {
        padding-right: 20px;
    }
}

/* Show Menu */
.show-menu {
    right: 0;
}

.toggle-color {
    transition: 0.3s ease-in-out;
    i {
        color: $white;
        transition: 0.3s ease-in-out;
        opacity: 1;
    }

    i::before {
        content: url(/assets/img/bx-x.svg);
    }
}

/* Scroll Menu 
.active-link {
    position: relative;
}

.active-link::after {
    content: "";
    position: absolute;
    bottom: -0.7rem;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: $white;
}

*/

.scroll-header {
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.scroll-header .nav__toggle {
    color: $darkGray;
}

.scroll-header .nav__logo {
    transition: fill 1s ease-in-out;
    svg {
        transition: fill 1s ease-in-out;

        .white {
            transition: 0.5s ease-in-out;
            fill: $darkGray;
        }

        .text {
            transition: 0.5s ease-in-out;
            opacity: 0;
        }

        path {
            transition: 1s ease-in-out;
        }
    }
}

/* Scroll header */
/* .scroll-header {
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle,
.scroll-header .nav__link {
    color: $darkGray;
}

.scroll-header .nav__info {
    color: $darkGray;
}

.scroll-header .nav__menu {
    background-color: $lightYellow;
    transition: 0.5s ease-in-out;
} */
