.hero {
    height: 100vh;
    position: relative;
    margin: auto;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: 65%;
    }

    &__container {
        display: flex;
        width: 85%;
        align-items: center;
        justify-content: left;
        height: 100%;
    }

    &__business {
        color: $white;
        margin-bottom: .4rem;
    }

    &__subtitle,
    &__title,
    &__description {
        color: $white;
    }

    &__title {
        font-size: $biggest-font-size;
        margin-bottom: $mb-1;

        span {
            color: $mainYellow;
        }

        @include breakpoint-up(large){
            font-size: 3.5rem;
        }
    }

    &__subtitle {
        font-size: 1rem;
        font-weight: $font-light;
        margin-bottom: $mb-1;
        color: $white;

        @include breakpoint-up(large){
            font-size: $h3-font-size;
        }
    }

    &__button {
        margin-top: $mb-1;
    }
}
