.processo {
    background-color: $white;
    overflow: hidden;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    padding-top: 3rem;

    @include breakpoint-down(medium){
        width: 85%;
    }

    &__ac-title {
        font-size: 2rem;
    }


    &__container {
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative;
        height: 100%;
        grid-template-rows: repeat(3, max-content);
        align-content: center;
        row-gap: 1rem;
        width: 100%;
    }

    

    &__tag {
        color: $mainYellow;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        justify-self: center;
        margin-bottom: $mb-1;
    }

    @include breakpoint-down(small) {

        /* Accordion text */
        &__ac-text {
            align-self: center;
            display: flex;
            flex-direction: column;
            order: 1;
            margin-bottom: 3rem;
        }

        &__button {
            align-self: center;
        }

        &__tag {
            text-align: center;
            margin-top: 1rem;
        }

        &__info {
            //margin: 2rem;
            display: flex;
        }

        &__ac-title {
            color: $darkGray;
            margin-bottom: 1rem;
            text-align: center;
        }

        &__ac-description {
            color: $textGray;
            margin-bottom: 2rem;
            line-height: 1.6;
            text-align: center;
        }

        /* Accordion*/
        h1,
        h2,
        h3 {
            margin-top: 0;
        }

        &__accordion {
            width: 100%;
            margin-right: 2rem;
            margin-bottom: 2rem;
            order: 2;
        }

        &__accordion-item {
            align-self: center;
            background-color: $lightGray;
            padding: $mb-2;
            border-radius: 10px;
            margin-bottom: 1rem;
            box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.01);
            justify-self: center;
        }

        &__accordion-passo {
            cursor: pointer;
            margin-top: $mb-1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            text-align: center;
            border: none;
            background: transparent;
            padding: 0;
            font-size: $h3-font-size;
            font-weight: $font-bold;
            font-family: "Montserrat", sans-serif;
            color: $textBlue;
            margin-bottom: $mb-1;
            transition: 0.3s ease-in-out;

            path {
                transition: 0.3s ease-in-out;
            }

            span {
                margin-left: -1rem;
            }

        }

        &__accordion-passo::after {
            content: "";
            display: block;
            width: 0.7rem;
            height: 0.7rem;
            background-image: url("/assets/img/processochevron.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            transition: transform 300ms ease-in-out;
            //margin-right: $mb-1;
        }

        &__content {
            color: $textBlue;
            line-height: 1.4;
            padding-bottom: $mb-2;
            text-align: center;
            padding-top: 1rem;
        }

        &__info {
            display: flex;
            flex-direction: column;
        }

        &__ac-text,
        &__accordion {
            flex: 1;
        }

        /* Collapse */

        &__accordion-passo.open {
            font-weight: $font-bold;
            color: $mainYellow;

            path {
                fill: #ecb21b;
            }
        }

        &__accordion-passo.open::after {
            transform: rotate(90deg);
            background-image: url("/assets/img/processochevronyellow.svg");
        }

        &__collapse {
            transition: height 300ms ease-in-out;
        }

        &__collapse.collapse {
            display: none;
        }

        &__collapse.collapsing {
            height: 0;
            overflow: hidden;
        }

        &__collapse.open {
            display: block;
        }
    }

    @include breakpoint-up(medium) {
        /* Accordion text */


        &__data {
            margin-top: 3rem;
        }
        &__ac-text {
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
        }

        &__info {
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex;
        }

        

        &__ac-title {
            font-size: 2rem;
            color: $darkGray;
            margin-bottom: 1rem;
        }

        &__ac-description {
            color: $textGray;
            margin-bottom: 2rem;
            line-height: 1.6;
        }

        /* Accordion*/
        h1,
        h2,
        h3 {
            margin-top: 0;
        }

        &__accordion {
            display: flex;
            flex-direction: column;
            margin-right: 2rem;
            min-height: 100%;
        }

        &__fichatecnica {
            display: flex;
            flex-direction: column;
            margin-right: 2rem;
            min-height: 100%;
            padding: 2rem;
            background-color: red;
        }

        

        &__minitag {
            font-weight: 700;
            font-size: 0.875rem;
            color: $mainYellow;
            padding-bottom: .2rem;
        }

        &__empresaname {
            font-weight: 700;
            color: $darkGray;
            font-size: 1.2rem;
            padding-bottom: 1rem;
        }

        &__accordion-item {
            background-color: $lightGray;
            padding: $mb-2;
            border-radius: 10px;
            margin-bottom: 1rem;
            box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.01);
        }

        &__accordion-passo {
            cursor: pointer;
            margin-top: $mb-1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            text-align: left;
            border: none;
            background: transparent;
            padding: 0;
            font-size: $h3-font-size;
            font-family: "Montserrat", sans-serif;
            color: $textBlue;
            font-weight: $font-bold;
            margin-bottom: $mb-1;
            transition: 0.3s ease-in-out;

            //margin-left: $mb-1;

            path {
                transition: 0.3s ease-in-out;
            }

            svg {
                margin-right: -13rem;
                position: absolute;
            }

            span {
                margin-left: 3.5rem;
            }
        }

        &__accordion-passo::after {
            content: "";
            display: block;
            width: 0.7rem;
            height: 0.7rem;
            background-image: url("/assets/img/processochevron.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            transition: transform 300ms ease-in-out;
            margin-right: $mb-1;
        }

        &__content {
            color: $textBlue;
            line-height: 1.4;
            padding-bottom: $mb-2;
            margin-left: 3.5rem;
            max-width: 15rem;
        }

        &__info {
            display: flex;
        }

        &__ac-text,
        &__accordion {
            flex: 1;
        }

        /* Collapse */

        &__accordion-passo.open {
            font-weight: $font-bold;
            color: $mainYellow;

            path {
                fill: $mainYellow;
            }
        }

        &__accordion-passo.open::after {
            transform: rotate(90deg);
            background-image: url("/assets/img/processochevronyellow.svg");
        }

        &__collapse {
            transition: height 300ms ease-in-out;
        }

        &__collapse.collapse {
            display: none;
        }

        &__collapse.collapsing {
            height: 0;
            overflow: hidden;
        }

        &__collapse.open {
            display: block;
        }
    }
}
