.service {
    height: 100vh;
    position: relative;
    margin: auto;
    margin-bottom: 3rem;
    

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: 65%;
    }

    &__container {
        display: flex;
        width: 85%;
        align-items: center;
        justify-content: left;
        height: 100%;
    }

    &__tag {
        color: $mainYellow;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        justify-self: center;
        margin-bottom: $mb-2;
        align-self: center;
    }

    &__subtitle,
    &__title,
    &__description {
        color: $white;
        margin-top: 1rem;
    }

    &__title {
        font-size: 42px;
        margin-bottom: $mb-1;

        span {
            color: $mainYellow;
        }

        @include breakpoint-up(large) {
            font-size: 2.5rem;
        }
    }

    &__subtitle {
        font-size: $h3-font-size;
        font-weight: $font-light;
        margin-bottom: $mb-1;
        color: $white;

        @include breakpoint-up(large) {
            font-size: 1.5rem;
        }
    }

    &__button {
        margin-top: $mb-1;
    }
}


/*.sobreservice {
    background-color: $white;
    overflow: hidden;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: relative;
    width: 85%;

    &__arte {
        height: 100%;
        width: 100%;
        flex: 0.8;
    }

    &__container {
        position: relative;
        height: 100%;
        display: flex;
        align-content: center;
        row-gap: 1rem;
    }

    &__ac-text {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        flex: 1.2;
    }

    &__tag {
        margin-bottom: 1rem;
        color: $mainYellow;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: $mb-2;
    }

    &__ac-title {
        font-size: 2rem;
        color: $darkBlue;
        margin-bottom: 2rem;
    }

    &__ac-description {
        color: $textGray;
        margin-bottom: 2rem;
        line-height: 1.6;
        text-align: right;
    }
} */

.approach {
    background-color: $lightBlue;
    margin-top: 3rem;
    //height: 30rem;

    &__container {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__data {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        padding-bottom: 2rem;
        gap: 1.5rem;

        @include breakpoint-down(medium) {
            grid-template-columns: repeat(2,1fr);
        }

        @include breakpoint-down(small) {
            grid-template-columns: repeat(1,1fr);
        }
    }

    &__title {
        font-size: 2rem;
        color: $darkBlue;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &__item {
        position: relative;
        display: grid;
        padding: 1rem;
    }

    &__tag {
        display: block;
        width: 2.5rem;
        height: 0.3rem;
        background-color: $darkBlue;
        margin-bottom: 1rem;
    }

    &__subtitle {
        font-size: 1.6rem;
        font-weight: $font-semibold;
        color: $darkBlue;
        margin-bottom: 1rem;
    }

    &__description {
        font-size: 0.9rem;
        line-height: 1.4;
    }
}
