.sobre {
    background-color: $darkGray;
    margin-bottom: 2rem;
    margin-top: 2rem;

    &__container {
        //height: 25em;
        width: 100%;
        display: flex;
        flex-direction: column;
        /*display: grid;
        grid-template-areas:
            "text ."
            "montanha montanha ";
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr); */
    }

    &__data {
        //grid-area: text;
        height: 100%;
        width: 85%;
        max-width: 64em;
        align-self: center;
        justify-self: center;
        margin-top: 10rem;
        flex: 1;
        position: absolute;

        @include breakpoint-down(large) {
            margin-top: 6rem;
        }

        @media (max-width: 768px) {
            margin-top: 2rem;
        }
    }

    &__tag {
        color: $lightYellow;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        justify-self: center;
        margin-bottom: $mb-3;
        margin-top: $mb-1;
        align-self: left;

        @media (max-width: 768px) {
            font-size: 0.8rem;
            margin-bottom: $mb-2;
        }
    }

    &__chamada {
        font-size: 2rem;
        line-height: 1.2;
        color: $white;
        text-align: center;
        //margin-bottom: 0.5rem;
        font-size: 2rem;
        text-align: left;
        margin-top: 0.8rem;
        letter-spacing: -2px;

        @media (max-width: 768px) {
            font-size: 1.6rem;
            margin-bottom: $mb-2;
        }
    }

    &__gray {
        display: none;
        width: 100%;
        height: 6rem;
        background-color: $darkGray;
        margin-bottom: 1rem;

        @include breakpoint-down(small) {
            display: block;
            height: 10rem;
        }
    }

    &__white {
        display: block;
        width: 100%;
        height: 2rem;
        background-color: white;
        margin-bottom: 1rem;
        position: absolute;

        @include breakpoint-down(large) {
            height: 3rem;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__montanha {
        
        svg {
            height: 100%;
            width: 100%;
        }
    }

    .firstpin,
    .secondpin,
    .thirdpin,
    .forthpin,
    .fifthpin,
    .sixthpin,
    .lastpin {
        transform: translateY(-20px);
        opacity: 0;
    }

    .rightcloud {
        transform: translateX(70px);
        opacity: 0;
    }

    .leftcloud {
        transform: translateX(-70px);
        opacity: 0;
    }
}
