.solutions {
    background-color: $white;
    overflow: hidden;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    margin-top: 6rem;
    margin-bottom: 6rem;

    &__container {
        width: 100%;
        margin: 0 auto;
    }

    @include breakpoint-down(medium) {
        width: 85%;
    }

    &__tag {
        color: $mainYellow;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        justify-self: center;
        margin-bottom: $mb-1;
        align-self: center;
    }

    &__title {
        font-size: 1.8rem;
        line-height: 1.2;
        color: $darkGray;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__titlecard {
        font-size: 1.8rem;
        line-height: 1.2;
        color: $textGray;
        text-align: center;
        margin-bottom: 2rem;
        transition: .2s ease-in-out;

        @include breakpoint-down(small){
            color: $darkGray;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: .8rem;
    }

    @include breakpoint-down(medium) {
        &__cards {
            display: flex;
            flex-direction: column;
        }
    }

    &__wrapper {
        min-height: 500px;
    }

    &__card {
        //background-color: $lightestYellow;
        justify-content: center;
        border-radius: 1rem;
        padding: $mb-1;
        display: flex;
        position: relative;
        cursor: pointer;

        @include breakpoint-down(medium) {
            background-color: $lightestYellow;
            path {
                fill-opacity: 1;
            }
        }
    }

    &__card:hover,
    &__card:active {
        background-color: $lightestYellow;
        path {
            fill-opacity: 1;
        }

        .solutions__tags {
            opacity: 1;
        }

        .solutions__titlecard {
            color: $darkGray;    
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
    }

    &__img {
        display: flex;
        flex-direction: column;
        position: relative;
        align-self: center;

        svg {
            margin-top: 1rem;
            margin-bottom: 1rem;
            align-self: center;
            width: 70%;
            height: 70%;

            path {
                transition: 0.5s ease-in-out;
            }
        }
    }

    &__colored:hover,
    &__colored:active {
        opacity: 1;
    }

    &__description {
        text-align: center;
        text-decoration: none;
        color: $textGray;
        margin-bottom: 0.5rem;
        line-height: 1.6;
        width: 90%;
        margin: 0 auto;
    }

    &__tags {
        align-self: center;
        margin-top: 1.5rem;
        opacity: 0;
        transition: 0.3s ease-in-out;

        @include breakpoint-down(small){
            opacity: 1;
        }

        @include breakpoint-down(medium){
            opacity: 1;
        }
    }

    &__cards:hover &__data:hover &__tags,
    &__cards:active &__data:active &__tags,
    &__cards &__data--default &__tags {
        height: 7rem;
    }

    &__tags,
    &__cards:hover &__tags,
    &__cards:active &__tags {
        height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;

        @include breakpoint-down(small){
            height: 7rem;
        }

        @include breakpoint-down(medium){
            height: 7rem;
        }
    }
}
