.solutions {
    background-color: $white;
    overflow: hidden;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    min-height: 600px;

    &__tag {
        color: $mainYellow;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        justify-self: center;
        margin-bottom: $mb-1;
        align-self: center;
    }

    &__title {
        font-size: 2rem;
        line-height: 1.2;
        color: $darkGray;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__cards {
        display: flex;
        gap: 1rem;
    }

    &__card {
        //background-color: $lightestYellow;
        border-radius: 1rem;
        padding: $mb-2;
        justify-content: center;
        display: flex;


    }

    &__card:hover {
        background-color: $lightestYellow;
        path {
            fill-opacity: 1;
        }

        .solutions__tags {
            opacity: 1;
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
    }

    &__img {
        display: flex;
        flex-direction: column;
        position: relative;
        align-self: center;

        svg {
            margin-top: 1rem;
            margin-bottom: 1rem;
            align-self: center;
            width: 70%;
            height: 70%;

            path {
                transition: 0.5s ease-in-out;
            }
        }
    }

    &__colored:hover {
        opacity: 1;
    }

    &__description {
        text-align: center;
    }

    &__tags {
        align-self: center;
        margin-top: 1.5rem;
        opacity: 0;
        transition: .3s ease-in-out;
    }

    &__cards:hover &__data:hover &__tags,
    &__cards &__data--default &__tags {
        height: 7rem;
    }

    &__tags,
    &__cards:hover &__tags {
        height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }
}
