/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
/* Colors */
/* Font Sizes */
/* Font Weight */
/* Margins */
/* Z-Index */
/* Buttons */
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .8rem 1.5rem;
  background-color: #eda41d;
  color: white;
  border-radius: 2rem;
  font-weight: 500;
}

.button:hover {
  background-color: #ffd770;
  color: white;
}

/* Base Styles */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.938rem;
  background-color: white;
  color: white;
}

h1, h2, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Layout */
.main {
  position: relative;
}

.bd-container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Nav */
.nav {
  max-width: 1024px;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: auto;
    right: -200%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5rem;
    background-color: #1a2023;
    color: white;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    z-index: 100;
    -webkit-box-shadow: -8px 0 20px 0 rgba(0, 0, 0, 0.2);
            box-shadow: -8px 0 20px 0 rgba(0, 0, 0, 0.2);
  }
}

.nav__link {
  color: white;
  font-weight: 500;
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 101;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo img {
  width: 70%;
  height: 70%;
}

.nav__list {
  margin-top: 5rem;
}

.nav__link {
  font-size: 1.6rem;
  font-weight: 700;
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0.2rem;
}

.nav__info {
  color: #ffd770;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: .1rem;
  display: block;
}

.nav__email, .nav__telefone {
  margin-bottom: 1rem;
}

.nav__email {
  margin-top: 2rem;
}

.nav__social {
  color: #ffd770;
  font-size: 1.6rem;
}

.nav__social:not(:last-child) {
  padding-right: 20px;
}

/* Show Menu */
.show-menu {
  right: 0;
}

.hero {
  height: 100vh;
  position: relative;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 65%;
     object-position: 65%;
}

.hero__container {
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 0.25fr;
      grid-template-columns: 2fr 0.25fr;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero__subtitle, .hero__title, .hero__description {
  color: white;
}

.hero__title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero__title span {
  color: #eda41d;
}

.hero__subtitle {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  color: white;
}

.hero__button {
  margin-top: 0.5rem;
}
/*# sourceMappingURL=style.css.map */