/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
/* Colors */
/* Font Sizes */
/* Font Weight */
/* Margins */
/* Z-Index */
/* Buttons */
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .8rem 1.5rem;
  background-color: #eda41d;
  color: white;
  border-radius: 2rem;
  font-weight: 500;
}

.button:hover {
  background-color: #ffd770;
  color: white;
}

/* Base Styles */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.938rem;
  background-color: white;
  color: white;
}

h1, h2, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Layout */
.main {
  position: relative;
}

.bd-container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.bd-grid {
  display: -ms-grid;
  display: grid;
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  background: rgba(123, 111, 113, 0.7);
  border-radius: .5rem;
  z-index: 10;
  -webkit-transition: .4s;
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: #eda41d;
}

.scrolltop__icon {
  font-size: 2rem;
  color: white;
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/* Header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/* Nav */
.nav {
  max-width: 1024px;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: auto;
    right: -200%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5rem;
    background-color: #1a2023;
    color: white;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    z-index: 100;
    -webkit-box-shadow: -8px 0 20px 0 rgba(0, 0, 0, 0.2);
            box-shadow: -8px 0 20px 0 rgba(0, 0, 0, 0.2);
  }
}

.nav__link {
  color: white;
  font-weight: 500;
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 101;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo img {
  width: 70%;
  height: 70%;
}

.nav__list {
  margin-top: 5rem;
}

.nav__link {
  font-size: 1.6rem;
  font-weight: 700;
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0.2rem;
}

.nav__info {
  color: #ffd770;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.1rem;
  display: block;
}

.nav__email, .nav__telefone {
  margin-bottom: 1rem;
}

.nav__email {
  margin-top: 2rem;
}

.nav__social {
  color: #ffd770;
  font-size: 1.6rem;
}

.nav__social:not(:last-child) {
  padding-right: 20px;
}

/* Show Menu */
.show-menu {
  right: 0;
}

/* Scroll Menu */
.active-link {
  position: relative;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -.7rem;
  left: 0;
  width: 65%;
  height: 3px;
  background-color: white;
}

/* Scroll header */
.scroll-header {
  background-color: white;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle,
.scroll-header .nav__link {
  color: #1a2023;
}

.scroll-header .nav__menu {
  background-color: #ffd770;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hero {
  height: 100vh;
  position: relative;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 65%;
     object-position: 65%;
}

.hero__container {
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 0.25fr;
      grid-template-columns: 2fr 0.25fr;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero__subtitle, .hero__title, .hero__description {
  color: white;
}

.hero__title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero__title span {
  color: #eda41d;
}

.hero__subtitle {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  color: white;
}

.hero__button {
  margin-top: 0.5rem;
}

.processo {
  background-color: white;
  overflow: hidden;
  /* Accordion text */
  /* Accordion */
  /* Collapse */
}

.processo__container {
  position: relative;
  height: 100vh;
  -ms-grid-rows: (max-content)[3];
      grid-template-rows: repeat(3, -webkit-max-content);
      grid-template-rows: repeat(3, max-content);
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 2rem;
}

.processo__data {
  margin-top: 7rem;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  justify-items: center;
}

.processo__tag {
  color: #eda41d;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 0.5rem;
}

.processo__title {
  font-size: 2rem;
  line-height: 1.2;
  color: #1a2023;
  text-align: center;
  margin-bottom: 0.5rem;
}

.processo__info {
  margin: 3rem;
}

.processo__ac-title {
  color: #1a2023;
}

.processo__ac-description {
  color: #7e7c7c;
}

.processo h1,
.processo h2,
.processo h3 {
  margin-top: 0;
}

.processo__accordion-item {
  padding-top: 1rem;
}

.processo__accordion-passo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: left;
  border: none;
  background: transparent;
  padding: 0;
  font-size: 0.938rem;
  font-family: "Montserrat", sans-serif;
  color: #1a2023;
  font-weight: 600;
  margin-bottom: 1rem;
}

.processo__accordion-passo::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/assets/img/bx-chevron-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.processo__accordion-passo.open {
  font-weight: 700;
}

.processo__content {
  color: #7e7c7c;
  line-height: 1.4;
  margin-bottom: 1rem;
}

@media (min-width: 56rem) {
  .processo {
    /* Accordion*/
    /* Collapse */
  }
  .processo h1,
  .processo h2,
  .processo h3 {
    margin-top: 0;
  }
  .processo__accordion-item {
    padding-top: 1rem;
  }
  .processo__accordion-passo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: left;
    border: none;
    background: transparent;
    padding: 0;
    font-size: 0.938rem;
    font-family: "Montserrat", sans-serif;
    color: #1a2023;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .processo__accordion-passo::after {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("/assets/img/bx-chevron-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }
  .processo__content {
    color: #7e7c7c;
    line-height: 1.4;
    padding-bottom: 1rem;
  }
  .processo__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .processo__ac-text, .processo__accordion {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .processo__accordion-passo.open {
    font-weight: 700;
  }
  .processo__accordion-passo.open::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .processo__collapse {
    -webkit-transition: height 300ms ease-in-out;
    transition: height 300ms ease-in-out;
  }
  .processo__collapse.collapse {
    display: none;
  }
  .processo__collapse.collapsing {
    height: 0;
    overflow: hidden;
  }
  .processo__collapse.open {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */